* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #fff;
}
body {
  position: relative;
  background-color: #181818;
  overflow-x: hidden;
}
.recommended img,
.song1 img,
.song2 img,
.favSongs img {
  animation-name: img-animation;
  animation-duration: 1.5s;
}
@keyframes img-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  display: flex;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 650px;
  background-color: #121212;
}
.sidebar .logo {
  display: flex;
  justify-content: center;
}
.sidebar .logo img {
  margin-top: 15px;
  width: 150px;
  height: 60px;
}
.sidebar .navigation {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.sidebar .active {
  background: #0f3034;
}
.sidebar .navigation a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .home,
.browse,
.favorites {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 5px 30px;
  margin-top: 5px;
  width: 60%;
  transition: background-color 0.2s ease-in;
}
.sidebar .home:hover,
.browse:hover,
.favorites:hover {
  background-color: #222;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.sidebar .home img,
.browse img,
.favorites img {
  width: 25px;
}
.sidebar .home span,
.browse span,
.favorites span {
  margin-top: 6px;
  padding-left: 20px;
  font-weight: 300;
  text-transform: up;
}
.errorMsg {
  justify-content: center;
  color: #be0000;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.okMsg {
  justify-content: center;
  color: #008f07;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.stats {
  height: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.userStats {
  text-align: center;
  border: 5px solid #063535;
  border-radius: 10px;
  padding: 20px 60px;
  margin-right: 20px;
  height: 200px;
}
.userStats .numberOfUsers {
  font-size: 50px;
  color: #f1f1f1;
  margin-top: -20px;
}
.userStats img {
  height: 100px;
  margin-top: 10px;
}
.userStats h5 {
  font-size: 25px;
  margin-top: 10px;
}
.sidebar .library {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.sidebar h4 {
  font-weight: 300;
  color: #c4c4c4;
}
.sidebar h3 {
  font-weight: 400;
  color: #f1f1f1;
  margin-top: 6px;
  transition: opacity 0.2s ease-in;
  margin-left: 10px;
}
.sidebar h3:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.sidebar .playlists {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
.sidebar .addPlaylist {
  background: #333333;
}
.sidebar .addPlaylist {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 5px 15px;
  margin-top: 5px;
  transition: background-color 0.2s ease-in;
}
.sidebar .addPlaylist:hover {
  background-color: #222;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}
.sidebar .addPlaylist img {
  width: 27px;
}
.sidebar .addPlaylist span {
  margin-top: 6px;
  padding-left: 20px;
  font-weight: 300;
  text-transform: uppercase;
}
.sidebar .friends {
  margin-top: 20px;
  background-color: #333333;
  min-height: 80px;
}
.sidebar .friends .friendsLine {
  margin: 0 auto;
  height: 2px;
  border: none;
  background-color: #fff;
  width: 40%;
}
.sidebar .onlineFriends {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.sidebar .onlineFriends img {
  width: 30px;
}
.sidebar .onlineFriends span {
  padding-left: 20px;
  font-weight: 400;
  font-size: 19px;
  text-transform: capitalize;
}
/* End of Sidebar */
.content {
  display: block;
  margin-left: calc(20%);
  margin-top: 10px;
  width: 80%;
  padding-left: 20px;
}
.content .topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .searchBar {
  display: flex;
  background-color: #121212;
  width: 30%;
  border-radius: 10px;
  height: 40px;
  align-items: center;
}
.content .searchBar form{
  display: flex;
  width: 100%;
}
.content .searchBar img {
  width: 15px;
  margin-left: 20px;
}
.searchInput {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.searchInput button {
  padding: 6px 20px;
  border-radius: 7px;
  background-color: #063535;
  color: #f1f1f1;
  border: none;
  outline: none;
  transition: all ease 0.5s;
}
.searchInput button:hover {
  box-shadow: 0 0 10px rgba(29, 185, 185, 0.5);
  transition: all ease 0.5s;
  cursor: pointer;
}
.content .searchBar input {
  background-color: transparent;
  outline: none;
  border: none;
  font-weight: 400;
  opacity: 0.5;
  width: 70%;
  transition: opacity 0.3s ease-in;
}
.content .searchBar input:placeholder {
  color: rgba(241, 241, 241, 0.5);
  font-weight: 300;
}
.content .searchBar input:focus {
  border-bottom: 2px solid rgb(99, 99, 99);
  border-radius: 2px;
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
.content .searchBar span {
  color: #f1f1f1;
  margin-left: 20px;
  font-weight: 300;
}
.content .topBar .userSettings {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.userSettings .friends {
  width: 25px;
  margin-right: 50px;
}
.userSettings .avatar {
  position: relative;
  z-index: 2;
  border-radius: 30px;
  width: 50px;
}
.userSettings .userName {
  margin-left: 10px;
  font-weight: 400;
  z-index: 1;
}
.userSettings .downArrow {
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  transition: opacity 0.3s;
  z-index: 2 !important;
}
.userSettings .downArrow:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s;
}
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  top: 2.5%;
  min-width: 150px;
  border-radius: 5px;
  margin-top: -35px;
  margin-left: -100px;
  animation-name: dropdown-animation;
  animation-duration: 0.6s;
}
#dropdown-content img {
  display: flex;
  justify-content: center;
  max-width: 30px;
}
#dropdown-content .dropdownGroup {
  display: flex;
  justify-content: start;
}
#dropdown-content img {
  margin-right: 15px;
}
@keyframes dropdown-animation {
  from {
    top: 0%;
    opacity: 0;
  }
  50% {
    top: 5%;
    opacity: 0.5;
  }
  100% {
    top: 2.5%;
    opacity: 1;
  }
}
#dropdown-content a:nth-child(1) {
  margin-top: 50px;
}
#dropdown-content a {
  margin-bottom: 5px;
  color: #f1f1f1;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease-in;
}
#dropdown-content a:hover {
  cursor: pointer;
  background-color: #0f3034;
  transition: background-color 0.2s ease-in;
}
/* End of Top Bar */
#heart1,
#heart2,
#heart3,
#heart4 {
  position: relative;
  z-index: 1000;
}
#heart1:hover,
#heart2:hover,
#heart3:hover,
#heart4:hover {
  cursor: pointer;
  opacity: 0.9;
}
.playedSongs {
  display: flex;
  margin-top: 10px;
}
.playedSongs .favSongs img,
.song1 img,
.song2 img {
  width: 200px;
  transition: opacity 0.2s ease-in;
}
.playedSongs .favSongs img:hover,
.song1 img:hover,
.song2 img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.playedSongs .favSongs h5,
.song1 h5,
.song2 h5 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
}
.playedSongs .song1 h6,
.song2 h6 {
  font-size: 14px;
  font-weight: 400;
  color: #646464;
}
.playedSongs .song1,
.song2 {
  margin-left: 20px;
}
.recentlyPlayed {
  margin-top: 30px;
}
.recentlyPlayed h2 {
  font-weight: 400;
  font-size: 20px;
}
.myFavSongs {
  margin-top: 40px;
  margin-bottom: 100px;
}
.myFavSongs h2 {
  font-weight: 400;
  font-size: 25px;
}
.createMusicDiv{
  display: flex;
  justify-content: space-between;
}
.createMusicDiv button{
  margin-right: 60px;
  background: #063535;
  border: none;
  padding: 10px 13px;
  border-radius: 10px;
  outline: none;
  vertical-align: middle;
  transition: all ease 0.5s;
}
.createMusicDiv button:hover {
  box-shadow: 0 0 10px rgba(29, 185, 185, 0.5);
  transition: all ease 0.5s;
  cursor: pointer;
}
.createMusicDiv button img{
  vertical-align: middle;
  padding-right: 10px;
}

.userList {
  margin-top: 40px;
}
.userList h2 {
  font-weight: 400;
  font-size: 25px;
}
.miniImg{
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 60px;
}
table {
  margin: 20px 40px;
  z-index: -2;
}
table,
th {
  text-align: left;
  border-bottom: 2px solid #646464;
  border-collapse: collapse;
  font-size: 15px;
  padding: 10px 20px;
}
th:not(:first-child, :last-child) {
  padding-right: 100px;
}
tr:nth-child(even) {
  background-color: #111;
}
tr {
  transition: all ease 0.5s;
}
tr:not(:first-child):hover {
  background-color: #333;
  transition: all ease 0.5s;
}
td:not(:first-child){
  padding-right: 50px;
}
td{
  padding-top: 10px;
  border-bottom: 2px solid #646464;
  padding-bottom: 10px;
}
.audioPathTd{
  max-width: 200px;
  overflow: hidden;
  margin-right: 20px;
}
.row1 {
  font-weight: 300;
}
.playFav {
  background: #063535;
  border: none;
  padding: 10px 13px;
  border-radius: 30px;
  outline: none;
  transition: all ease 0.5s;
}
.playFav img {
  display: flex;
  justify-content: center;
  padding-left: 2px;
  max-width: 20px;
}
.playFav:hover {
  box-shadow: 0 0 10px rgba(29, 185, 185, 0.5);
  transition: all ease 0.5s;
  cursor: pointer;
}
.editUser, .editSong {
  background: #063535;
}
.deleteUser, .deleteSong {
  background: #5f0600;
}
.editUser, .editSong,
.deleteUser, .deleteSong {
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  outline: none;
  transition: all ease 0.5s;
}

.editUser:hover, .editSong:hover {
  box-shadow: 0 0 10px rgba(29, 185, 185, 0.5);
  transition: all ease 0.5s;
  cursor: pointer;
}
.deleteUser:hover, .deleteSong:hover {
  box-shadow: 0 0 10px rgb(255, 59, 59);
  transition: all ease 0.5s;
  cursor: pointer;
}
.recommended {
  margin-top: 50px;
  width: 98%;
}
.recommendedTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.recommendedTop .arrows {
  margin-right: 50px;
}
.recommendedTop .arrows img {
  transition: opacity 0.2s ease-in;
}
.recommendedTop .arrows img:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}
.recommended .recommendedA, .recommendedAr {
  display: flex;
  margin-top: 10px;
  overflow-x: hidden;
}
.recommendedA .box1 img {
  transition: opacity 0.2s ease-in;
}
.recommendedA .box1 h5 {
  font-weight: 400;
  margin-top: 10px;
}
.recommendedA .box1 h6 {
  font-size: 14px;
  font-weight: 400;
  color: #646464;
  margin-top: 10px;
}
.recommendedA .box:not(:first-child) img {
  margin-left: 30px;
  width: 200px;
  transition: opacity 0.2s ease-in;
}
.recommendedA .box1 img:hover,
.box img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.recommendedA .box h5 {
  margin-left: 30px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.recommendedA .box h6 {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #646464;
}
.recommended h2 {
  font-weight: 400;
  font-size: 20px;
}
/*End Of Recommended Albums */
/*End Of Recommended Songs */
.recommended .recommendedAr {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 150px;
}
.recommendedAr .artist:not(:first-child) img {
  margin-left: 30px;
  width: 200px;
  transition: opacity 0.2s ease-in;
}
.recommendedAr .artist .artistImg {
  display: flex;
  width: 180px;
  transition: opacity 0.2s ease-in;
}
.recommendedAr .artist .artistImg:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease-in;
}
.recommendedAr .artist h5 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}
.recommendedAr .artist h6 {
  font-weight: 400;
  font-size: 13px;
  color: #0f3034;
}
.recommendedAr .artist .artistContent {
  margin: 0 auto;
  align-items: center;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #f1f1f1;
  border: 3px solid #f1f1f1;
  max-width: 60%;
  transition: opacity 0.2s ease-in;
}
.recommendedAr .artist .artistContent:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in;
}
.recommendedAr .artist:first-child .artistContent {
  background-color: transparent;
  border: 3px solid #f1f1f1;
}
.recommendedAr .artist:first-child h6,
.artist:first-child .artistContent img {
  color: #f1f1f1;
}
.recommendedAr .artist .artistContent img {
  margin-left: 8px;
  width: 16px;
}
.recommendedAr .artist.artist:first-child .artistContent img {
  margin-left: 8px;
  width: 14px;
  margin-top: 3px;
}
.artistContent {
  display: flex;
  justify-content: center;
}
/* End of Recommended Artists */
.miniPlayer {
  display: flex;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: orange;
  background-color: #121212;
}
#currentSongImg {
  object-fit: cover;
  max-width: 100px;
  max-height: 90px;
}
#currentSongTitle {
  font-size: 17px;
}
.miniPlayer .addToFav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 7%;
  margin-left: 10px;
}
.miniPlayer .currentSongTitle {
  padding-top: 25px;
  width: 15%;
}
.miniPlayer .currentSongTitle h5 {
  color: #f1f1f1;
  font-size: 22px;
  font-weight: 400;
}
.miniPlayer .currentSongTitle h6 {
  color: #646464;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}
.miniPlayer .playOptions {
  padding-top: 25px;
  margin-left: 60px;
}
.miniPlayer .playOptions img {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.miniPlayer .playOptions img:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}
#pauseIcon,
#playIcon {
  min-width: 30px;
  max-width: 30px;
  min-height: 35px;
  max-height: 35px;
}
#pauseIcon:hover,
#playIcon:hover {
  fill: #0f3034;
}
.miniPlayer .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 13px;
}
#currTime {
  min-width: 30px;
  max-width: 30px;
}
.timerRange {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-appearance: none;
  overflow: hidden;
  background-color: #333333;
  border-radius: 10px;
  outline: none;
  width: 30vw;
}
.timerRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 12px;
  width: 5px;
}
.timerRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 20px;
  background-color: white;
  box-shadow: -300px 0 0 300px #063535;
}
.miniPlayer .options {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8px;
}
.miniPlayer .volumeOptions {
  display: flex;
  width: 15%;
  margin-left: 60px;
}
.miniPlayer .volumeOptions img {
  width: inherit;
  margin-left: 30px;
}
.miniPlayer .volumeOptions img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.miniPlayer .volumeBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-size: 13px;
}
.volumeRange {
  margin-left: 10px;
  margin-right: 10px;
  -webkit-appearance: none;
  overflow: hidden;
  background-color: #333333;
  border-radius: 10px;
  outline: none;
}
#volumeValue {
  min-width: 30px;
  max-width: 30px;
}
.volumeRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
  width: 5px;
}
.volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 8px;
  box-shadow: -100px 0 0 100px #c4c4c4;
}
.mobile-sidebar {
  display: none;
}
.mobileSidebar {
  transition: opacity 0.3s ease-in-out;
}
.mobileSidebar:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.closeBtn {
  display: none;
  transition: opacity 0.3s ease-in-out;
}
.closeBtn:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s ease-in-out;
}
.userInfo {
  display: flex;
  justify-content: space-evenly;
}
.avatarImg {
  display: block;
  text-align: center;
  margin-top: 50px;
}
.avatarImg h3 {
  margin-bottom: 20px;
}
.fileHandlerBtn::-webkit-file-upload-button {
  border: none;
  background-color: #f1f1f1;
  padding: 5px 10px;
  outline: none;
  margin-left: 40px;
}
.fileHandlerBtn {
  color: #fff;
  display: flex;
  margin: 0 auto;
  padding: 10px 40px;
  border-radius: 7px;
  background-color: #0f3034;
  border: none;
  outline: none;
  transition: all ease 0.5s;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
}
.userAvatar {
  width: 300px;
}
.submitAvatarBtn {
  color: #fff;
  display: flex;
  margin: 0 auto;
  padding: 10px 40px;
  border-radius: 7px;
  background-color: #0f3034;
  border: none;
  outline: none;
  transition: all ease 0.5s;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 200px;
}
.submitAvatarBtn:hover {
  box-shadow: 0 0 10px rgba(29, 185, 185, 0.5);
  transition: all ease 0.5s;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
    width: 0%;
    opacity: 0;
    filter: drop-shadow(100px 0px 50px #063535);
    z-index: 999 !important;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  .sidebar .logo {
    display: flex;
  }
  .closeBtn {
    position: absolute;
    top: 40px;
    right: 40px;
    display: block;
  }
  .closeBtn:hover {
    filter: drop-shadow(1px 0px 50px #063535);
  }
  .content {
    width: 100%;
    margin-left: 0;
  }
  .currentSongImg {
    display: none;
  }
  .miniPlayer .currentSongTitle {
    min-width: 85px;
    margin-left: 10px;
  }
  .miniPlayer .currentSongTitle h5 {
    font-size: 17px;
  }
  .miniPlayer .currentSongTitle h6 {
    font-size: 15px;
    margin-top: 0px;
  }
  .volumeOptions {
    margin: 0 !important;
  }
  .volumeIcon {
    display: none;
  }
  .volumeBar {
    display: none !important;
  }
  .friends {
    display: none;
  }
  .mobile-sidebar {
    display: flex;
  }
  .searchBar {
    display: none !important;
  }
  .addToFav {
    display: none !important;
  }
  .stats {
    display: block;
  }
  .userStats {
    text-align: center;
    margin-top: 20px;
  }
  .homeTable {
    display: none;
  }
  tr:first-child {
    display: none;
  }
  th,td {
    position: relative;
    text-align: right;
    display: block;
    padding-right: 10px !important;
  }
  table {
    width: 75%;
    margin: 10px auto;
  }
  .audioPathTd{
    text-align: right;
    max-width: 100%;
    font-size: 7px;
    overflow-wrap: break-word;
  }
  .audioPathTd::before{
    font-size: 15px;
  }
  table th::before, td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
  }
}
